<div id="igpost-main">
  <div class="">
    <div class="igpost-container">
      <article
        *ngFor="let post of posts; let i = index"
        class="igpost dark-off"
        id="{{ i }}"
      >
        <app-header [postByInfo]="postByInfo[i]"></app-header>
        <app-photo
          [photo]="postedPhoto[i]"
          [postId]="i"
          (clickPhotoEvent)="handleClickPhoto($event)"
        ></app-photo>
        <app-description
          [liked]="liked"
          [postDetails]="postDetails[i]"
        ></app-description>
        <app-post-option></app-post-option>
      </article>
    </div>
  </div>
</div>
<div *ngIf="fetched" className="footer-igpost">
  <div className="footer-igpost-inner">
    <img alt="Loading..." src="/assets/img/loader.gif" height="32" width="32" />
  </div>
</div>
