<div class="igpost-option">
  <button onClick="{this.handleClick}">
    <div class="igpost-option-dot">
      <svg fill="#262626" height="16" viewBox="0 0 48 48" width="16">
        <circle
          clicp-rule="evenodd"
          cx="8"
          cy="24"
          fill-rule="evenodd"
          r="4.5"
        ></circle>
        <circle
          clicp-rule="evenodd"
          cx="24"
          cy="24"
          fill-rule="evenodd"
          r="4.5"
        ></circle>
        <circle
          clicp-rule="evenodd"
          cx="40"
          cy="24"
          fill-rule="evenodd"
          r="4.5"
        ></circle>
      </svg>
    </div>
  </button>
</div>
