a,
a:visited {
  color: #00376b;
  color: rgba(var(--fe0, 0, 55, 107), 1);
  text-decoration: none;
}

.footer-igpost {
  top: 50%;
  /* margin-top: 40px; */
  /* height: 48px; */
}

.footer-igpost-inner {
  height: 32px;
  width: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box;
}
