<div class="igpost-description">
  <app-iconbar
    [likePost]="postDetail.likes.indexOf(postDetail.loginUser) > -1"
    [likeIcon]="likeIcon"
    [index]="postDetail.postId"
    (clickPostEvent)="clickPostLike($event)"
  ></app-iconbar>
  <app-likebar [likes]="postDetail.likes"></app-likebar>
  <div class="caption-comment">
    <app-captionbar
      [caption]="postDetail.caption"
      [postBy]="postDetail.postBy"
    ></app-captionbar>
    <app-commentbar
      [comments]="visibleComments"
      [commentCount]="postDetail.comments.length"
      [clickViewAll]="clickViewAll"
      [postSummary]="postSummary"
      [likeIcon]="likeIcon"
      (handleViewAllCommentsEvent)="handleViewAllComments($event)"
      (handleDeleteCommentEvent)="handleDeleteComment($event)"
    ></app-commentbar>
  </div>
  <app-timebar
    class="igpost-time"
    [postTime]="postDetail.postTime"
  ></app-timebar>
  <app-add-comment
    [fetched]="fetched"
    [value]="value"
    (postCommentBtnEvent)="handlePostCommentBtn($event)"
    (postCommentEvent)="handlePostComment($event)"
    (inputChangeEvent)="onChangeInput($event)"
  ></app-add-comment>
</div>
