<section class="add-comment">
  <div>
    <form>
      <div *ngIf="!fetched" class="add-comment-loader">
        <img alt="Loader" src="/assets/img/loader.gif" />
      </div>

      <textarea
        placeholder="Add a comment…"
        autoComplete="off"
        autoCorrect="off"
        (keyup)="onChangeInput($event)"
        (keydown)="handlePostComment($event)"
        [value]="value"
      ></textarea>
      <button
        [disabled]="btnDisabled"
        type="button"
        (click)="handlePostCommentBtn($event)"
      >
        {{ "Post" }}
      </button>
    </form>
  </div>
</section>
