.add-comment {
  padding-left: 16px;
  padding-right: 16px;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
  color: #8e8e8e;
  color: rgba(var(--f52, 142, 142, 142), 1);
  flex-shrink: 0;
  font-size: 14px;
  line-height: 18px;
  min-height: 56px;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 4px;
}

.add-comment form {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
}

.add-comment textarea[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

.add-comment textarea {
  height: 18px;
  background: 0 0;
  border: 0;
  color: #262626;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  font-size: inherit;
  height: 18px;
  max-height: 80px;
  outline: 0;
  padding: 0;
  resize: none;
  width: 0;
}

.add-comment button[disabled] {
  pointer-events: none;
  opacity: 0.3;
}

.add-comment-loader {
  height: 32px;
  width: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0.4;
  transform: translate(-50%, -50%);
  flex: 0 0 auto;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box;
}

.add-comment-loader img {
  height: 100%;
  width: 100%;
}

.add-comment button {
  border: 0;
  color: #0095f6;
  color: rgba(var(--d69, 0, 149, 246), 1);
  display: inline;
  padding: 0;
  position: relative;
  -webkit-appearance: none;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
}
