.like-count {
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.like-count-inner {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: stretch;
  align-items: stretch;
  align-content: stretch;
}

.like-count-content {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
  white-space: pre;
}

.like-count-content button {
  color: #262626;
  color: rgba(var(--f75, 38, 38, 38), 1);
  border: 0;
  display: inline;
  padding: 0;
  position: relative;
  background-color: transparent;
  -webkit-appearance: none;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
}

.igpost-time {
  padding-left: 16px;
  display: block;
  margin-bottom: 4px;
}

.igpost-time a,
.igpost-time a:visited {
  color: #8e8e8e;
  color: rgba(var(--f52, 142, 142, 142), 1);
  margin-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.igpost-time time {
  font-size: 10px;
  letter-spacing: 0.2px;
}

@media (min-width: 736px) {
  .igpost-time time {
    line-height: 18px;
  }
}

/* icon bar css */
.igpost-direct {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: -34px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  height: 40px;
}

.igpost-direct .like {
  animation-duration: 0.45s;
  animation-name: like-button-animation;
  animation-timing-function: ease-in-out;
  transform: scale(1);
  display: inline-block;
  margin-left: -8px;
}

.igpost-direct-action button {
  -webkit-box-align: center;
  align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 8px;
}

.igpost-direct-action svg {
  display: block;
  position: relative;
  height: 24px;
  width: 24px;
}

.share {
  -webkit-box-align: center;
  align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 8px;
}

.bookmark {
  margin-left: auto;
  margin-right: -10px;
  display: inline-block;
}

/* comment caption css */
.caption-comment {
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
  align-content: stretch;
}

.caption {
  margin-bottom: 4px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -webkit-box-pack: start;
  justify-content: flex-start;

  -webkit-box-align: stretch;
  align-items: stretch;
  align-content: stretch;
}

.caption-inner {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
  align-content: stretch;
  display: block;
}

.caption-by {
  color: #262626;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
}

.caption-content {
  overflow-wrap: break-word;
}

.viewall {
  margin-bottom: 4px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
  align-content: stretch;
}

.viewall a {
  background: 0 0;
  border: 0;
  color: #8e8e8e;
  color: rgba(var(--f52, 142, 142, 142), 1);
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.comment {
  margin-bottom: 4px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  align-content: stretch;
}

.comment-inner {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
  align-content: stretch;
  display: block;
}

.comment-id {
  color: #262626;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
}

.comment-content {
  overflow-wrap: break-word;
}

.comment-like-count {
  display: block;
  max-width: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 10px;
  margin-right: 5px;
  margin-top: -1px;
  color: #9e8f8f;
}

.comment-like {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  line-height: inherit;
  outline: 0;
  overflow: hidden;
  padding: 0;
}

.comment-like-span {
  max-width: 12px;
  height: 12px;
}

.comment-like button {
  padding: 0;
  -webkit-box-align: center;
  align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.comment-like svg {
  display: block;
  position: relative;
  fill: rgb(142, 142, 142);
  height: 12px;
  width: 12px;
}

.comment-delete-span {
  max-width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-bottom: 2px;
}

.comment-delete button {
  padding: 0;
  -webkit-box-align: center;
  align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.comment-delete svg {
  display: block;
  position: relative;
  fill: rgb(142, 142, 142);
  height: 15px;
  width: 15px;
}
