<div class="root-inner">
  <!-- <Main
                  [darkTheme]={this.state.darkTheme}
                  profileInfo={this.loginUser}
                  updateTheme={this.updateTheme}
                  setClickProfile={this.setClickProfile}
                />
                {window.innerWidth <= 1056 ? <Footer /> : null}
                <Nav
            label={darkLabel}
            profileInfo={this.loginUser}
            clickNav={this.state.clickNav}
            inbox={this.state.inbox}
            changeTheme={this.changeTheme}
            handleClickNav={this.handleClickNav}
          /> -->
  <app-main class="dark-off"></app-main>
  <app-footer *ngIf="windowWidth <= 1056"></app-footer>
  <app-nav></app-nav>
</div>
