.slide-arrow {
  cursor: pointer;
  background: 0 0;
  border: 0;
  justify-self: center;
  outline: 0;
  padding: 16px 8px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slide-arrow-left {
  left: 0;
}

.slide-arrow-right {
  right: 0;
}

.slide-arrow-icon {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/bundle.png);
}

.slide-arrow-icon-right {
  background-position: -258px -319px;
}

.slide-arrow-icon-left {
  background-position: -226px -319px;
}
