<div class="">
  <div
    class="igpost-image"
    role="button"
    tabIndex="0"
    (doubleClick)="doubleClickPost()"
  >
    <div class="igpost-image-bg">
      <div class="igpost-image-bg-content">
        <img
          alt="Post by {{ photo.postBy }}"
          src="{{ imgUrl + photo.photo[photoIndex] }}"
        />
      </div>

      <div class="igpost-image-footer"></div>
    </div>
    <div
      *ngIf="photo.photo.length > 0 && photoIndex > 0"
      class="slide-arrow slide-arrow-left"
      tabIndex="-1"
    >
      <div class="slide-arrow-icon slide-arrow-icon-left"></div>
    </div>
    <div
      *ngIf="photo.photo.length > 1"
      class="slide-arrow slide-arrow-right"
      tabIndex="-1"
    >
      <div class="slide-arrow-icon slide-arrow-icon-right"></div>
    </div>
    <div class="igpost-image-indicator">
      <div *ngFor="let dot of photo.photo; let i = index" class="dot"></div>
      <div *ngIf="photo.photo.length === 0" class="blank-dot"></div>
    </div>
  </div>
</div>
