<div>
  <input
    id="nav-search-input"
    class="nav-search-input"
    type="text"
    autoCapitalize="none"
    placeholder="Search"
    (keyup)="handleKeyup($event)"
    [value]="searchKey"
  />
  <span *ngIf="clickInput" class="nav-search-icon-left"></span>
  <div
    *ngIf="clickInput && dataFetched"
    class="nav-search-clear-icon"
    role="button"
    tabIndex="0"
    (click)="clickClearInput($event)"
  ></div>
  <div *ngIf="clickInput && !dataFetched" class="nav-search-loader">
    <img alt="loader" src="/assets/img/loader.gif" />
  </div>
  <div *ngIf="suggestions.length > 0">
    <div>
      <div class="search-result-arrow"></div>
      <div class="search-result-container">
        <div class="search-result">
          <app-search-suggestion
            *ngFor="let suggestion of suggestions; let i = index"
            [suggestion]="suggestion"
            [imgUrl]="imgUrl"
            (click)="clickSuggestion($event)"
          ></app-search-suggestion>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="!clickInput"
    class="nav-search-container"
    role="button"
    tabIndex="0"
    (click)="onClickInput()"
  >
    <div class="nav-search-container-inner">
      <span class="nav-search-icon"></span>
      <span class="nav-search-label">Search</span>
    </div>
  </div>
</div>
