.nav-search-input :placeholder-shown {
  font-size: 16px;
}

.nav-search-input {
  -webkit-appearance: none;
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  outline: 0;
  padding: 3px 10px 3px 26px;
  z-index: 2;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.nav-search-container {
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 3px;
  color: rgba(var(--f52, 142, 142, 142), 1);
  cursor: text;
  font-size: 14px;
  font-weight: 300;
  left: 0;
  padding: 7px;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.nav-search-container-inner {
  display: inline;
  left: -5px;
}

.nav-search-icon {
  display: inline-block;
  margin-right: 6px;
  vertical-align: baseline;
  background-repeat: no-repeat;
  background-position: -167px -306px;
  height: 10px;
  width: 10px;
  /* background-image: url(%PUBLIC_URL%/public/img/userdata/bundle.png); */
  background-image: url(/assets/img/bundle.png);
}

.nav-search-icon-left {
  left: 11px;
  position: absolute;
  top: 9px;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: -167px -306px;
  height: 10px;
  width: 10px;
  /* background-image: url(%PUBLIC_URL%/public/img/userdata/bundle.png); */
  background-image: url(/assets/img/bundle.png);
}

.nav-search-clear-icon {
  position: absolute;
  right: 5px;
  top: 4px;
  z-index: 3;
  background-position: -250px -98px;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  /* background-image: url(%PUBLIC_URL%/public/img/userdata/bundle.png); */
  background-image: url(/assets/img/bundle.png);
}

.nav-search-loader {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 3;
  opacity: 0.4;
}

.nav-search-loader img {
  height: 100%;
  width: 100%;
}

.search-result-arrow {
  top: 4px;
  background: #fff;
  background: rgba(var(--d87, 255, 255, 255), 1);
  border: solid 1px #dbdbdb;
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
  -webkit-box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), 0.0975);
  box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), 0.0975);
  content: " ";
  height: 14px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
  z-index: 1;
}

.search-result-container {
  top: 12px;
  background: #fff;
  background: rgba(var(--d87, 255, 255, 255), 1);
  border: solid 1px #dbdbdb;
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.0975);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.0975);
  -webkit-box-shadow: 0 0 5px rgba(var(--jb7, 0, 0, 0), 0.0975);
  box-shadow: 0 0 5px rgba(var(--jb7, 0, 0, 0), 0.0975);
  display: block;
  left: 50%;
  margin-left: -121px;
  position: absolute;
  right: -12px;
  width: 243px;
  z-index: 9;
}

.search-result-container::after {
  border-color: transparent transparent #fff transparent;
  border-color: transparent transparent rgba(var(--d87, 255, 255, 255), 1)
    transparent;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  content: " ";
  height: 0;
  left: 110px;
  position: absolute;
  top: -10px;
  width: 0;
  z-index: 3;
}

.search-result {
  max-height: 362px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

.search-result a {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: solid 1px #dbdbdb;
  border-bottom: solid 1px rgba(var(--b38, 219, 219, 219), 1);
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 50px;
  padding: 8px 14px;
}

.search-result-row {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: 0;
  white-space: nowrap;
  width: 100%;
}

.search-result-photo {
  margin: 0 10px 0 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.search-result-photo canvas {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 42px;
  height: 42px;
}

.search-result-photo span {
  height: 32px;
  width: 32px;
  background-color: #fafafa;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
}

.search-result-photo img {
  height: 100%;
  width: 100%;
}

.search-result-label {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 0;
}

.search-result-userid {
  color: #262626;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 14px;
  text-align: left;
}

.search-result-userid span {
  line-height: 22px;
  margin-bottom: -4px;
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
}

.search-result-username {
  color: #8e8e8e;
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}
