.nav-search-input :placeholder-shown {
  font-size: 16px;
}

.nav-search-input {
  -webkit-appearance: none;
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  outline: 0;
  padding: 3px 10px 3px 26px;
  z-index: 2;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.nav-search-container {
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 3px;
  color: rgba(var(--f52, 142, 142, 142), 1);
  cursor: text;
  font-size: 14px;
  font-weight: 300;
  left: 0;
  padding: 7px;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.nav-search-container-inner {
  display: inline;
  left: -5px;
}

.nav-search-icon {
  display: inline-block;
  margin-right: 6px;
  vertical-align: baseline;
  background-repeat: no-repeat;
  background-position: -167px -306px;
  height: 10px;
  width: 10px;
  /* background-image: url(%PUBLIC_URL%/public/img/userdata/bundle.png); */
  background-image: url(/assets/img/bundle.png);
}

.nav-search-icon-left {
  left: 11px;
  position: absolute;
  top: 9px;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: -167px -306px;
  height: 10px;
  width: 10px;
  /* background-image: url(%PUBLIC_URL%/public/img/userdata/bundle.png); */
  background-image: url(/assets/img/bundle.png);
}

.nav-search-clear-icon {
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 3;
  background-position: -250px -98px;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  /* background-image: url(%PUBLIC_URL%/public/img/userdata/bundle.png); */
  background-image: url(/assets/img/bundle.png);
}

.nav-search-loader {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 3;
  opacity: 0.4;
}

.nav-search-loader img {
  height: 100%;
  width: 100%;
}

.search-result-arrow {
  top: 4px;
  background: #fff;
  background: rgba(var(--d87, 255, 255, 255), 1);
  border: solid 1px #dbdbdb;
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
  -webkit-box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), 0.0975);
  box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), 0.0975);
  content: " ";
  height: 14px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
  z-index: 1;
}

.search-result-container {
  top: 12px;
  background: #fff;
  background: rgba(var(--d87, 255, 255, 255), 1);
  border: solid 1px #dbdbdb;
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.0975);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.0975);
  -webkit-box-shadow: 0 0 5px rgba(var(--jb7, 0, 0, 0), 0.0975);
  box-shadow: 0 0 5px rgba(var(--jb7, 0, 0, 0), 0.0975);
  display: block;
  left: 50%;
  margin-left: -121px;
  position: absolute;
  right: -12px;
  width: 243px;
  z-index: 9;
}

.search-result-container::after {
  border-color: transparent transparent #fff transparent;
  border-color: transparent transparent rgba(var(--d87, 255, 255, 255), 1)
    transparent;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  content: " ";
  height: 0;
  left: 110px;
  position: absolute;
  top: -10px;
  width: 0;
  z-index: 3;
}

.search-result {
  max-height: 362px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}
