<header>
  <div class="igpost-postby-photo" tabIndex="0">
    <canvas height="42" width="42"></canvas>
    <a routerLink="/{{ postByInfo.postBy }}/">
      <img
        alt="{{ postByInfo.postBy }}'s Profile Pic"
        src="{{ postByInfo.postByPhoto }}"
      />
    </a>
  </div>
  <div class="igpost-postby-label">
    <div class="igpost-postby-userid">
      <div class="igpost-postby-name-content">
        <a routerLink="/{{ postByInfo.postBy }}/">{{ postByInfo.postBy }}</a>
      </div>
    </div>
    <div class="igpost-postby-location">
      <div></div>
      <div>
        <a href="/explore/locations">{{ postByInfo.location }}</a>
      </div>
    </div>
  </div>
</header>
