<div>
  <div
    *ngIf="comments.length > 3"
    className="viewall"
    (click)="handleViewAll($event)"
  >
    <a *ngIf="clickViewAll" href="/#">Show only top comments</a>
    <a *ngIf="!clickViewAll" href="/#">
      View all <span>{{ comments.length }}</span>
      comments
    </a>
  </div>

  <app-comment
    *ngFor="let comment of myComments; let i = index"
    [attr.d]="comment.commentId"
    [comment]="comment"
    [likeIcon]="likeIcon"
    [loginUser]="loginUser"
    [postBy]="postBy"
    [index]="i"
    (handleClickDeleteComment)="deleteComment($event)"
  ></app-comment>
</div>
