<section class="igpost-direct">
  <span class="igpost-direct-action like">
    <button (click)="clickLikePost()">
      <svg
        class="{{ likePost ? 'liked' : 'not-liked' }}"
        height="24"
        viewBox="0 0 48 48"
        width="24"
      >
        <path
          clicp-rule="evenodd"
          attr.d="{{ likePost ? likeIcon.black : likeIcon.white }}"
          fill-rule="evenodd"
        ></path>
      </svg>
    </button>
  </span>
  <span class="igpost-direct-action comment">
    <button (click)="clickComment($event)">
      <svg fill="#262626" height="24" viewBox="0 0 48 48" width="24">
        <path
          clicp-rule="evenodd"
          [attr.d]="commentIcon"
          fill-rule="evenodd"
        ></path>
      </svg>
    </button>
  </span>
  <button class="igpost-direct-action share" (click)="clickShare()">
    <svg fill="#262626" height="24" viewBox="0 0 48 48" width="24">
      <path [attr.d]="shareIcon"></path>
    </svg>
  </button>
  <span class="igpost-direct-action bookmark">
    <button (click)="clickBookmark()">
      <svg fill="#262626" height="24" viewBox="0 0 48 48" width="24">
        <path
          [attr.d]="bookMarkClick ? bookmarkIcon.black : bookmarkIcon.white"
        ></path>
      </svg>
    </button>
  </span>
</section>
