<div class="story">
  <button
    class="story-btn"
    role="menuitem"
    tabIndex="0"
    (click)="clickStory($event)"
  >
    <div class="story-btn-inner" role="button" tabIndex="0">
      <canvas id="story-canvas-{{ index }}" height="66" width="66"></canvas>
      <span class="canvas-span">
        <img
          alt="{{ story.userId }}'s Profile Pic"
          src="{{ story.profilePhoto }}"
        />
      </span>
    </div>
    <div class="story-label">{{ story.userId }}</div>
  </button>
</div>
